<header class="header">
    <div class="header-width-gray">
        <div class="container">
            <div class="header__upper">
                <div class="left-block">
                    <img style="margin-right: 20px;" class="company-logo" src="./assets/img/company-logo.svg"
                        alt="company-logo">
                    <nav class="header-navigation">
                        <div class="header-navigation-item header--styles-text">{{headerItem1}}</div>
                        <div *ngIf="isShowCatalog" class="header-navigation-item header--styles-text">{{aboutCompany}}</div>
                        <div class="header-navigation-item header--styles-text">{{headerItem2}}</div>
                        <button (click)="isShowCatalog=!isShowCatalog" class="button-styles">Скрыть/Показать каталог</button>
                        <button (click)="ChangeMenuText()" class="button-styles">Изменить текст</button>
                    </nav>
                </div>
                <div class="right-block">
                    <div class="header__phone">
                        <img class="header__phone-item" src="./assets/img/white-phone.svg" alt="white-phone">
                        <span class="header--styles-text">+7 (965) 084-29-29</span>
                    </div>
                    <img class="header__love-logo" src="./assets/img/love-logo.svg" alt="love logo">
                    <div class="header__basket">
                        <button class="header__basket-button" type="button">
                            <img class="header__basket-button-logo" src="./assets/img/basket-logo.svg"
                                alt="basket logo">
                            <span class="header--styles-text">Пусто</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-width-yellow">
        <div class="container">
            <div class="header__lower">
                <div class="left-block">
                    <div class="ligth-logo">
                        <img src="./assets/img/light-logo.svg" alt="ligth logo">
                    </div>
                    <nav class="header__menu-nav">
                        <span *ngFor="let item of menuItems"
                            class="header__menu-nav-item header__menu-nav--item-left">{{item}}</span>
                    </nav>
                </div>
                <div class="right-block">
                    <div class="header__input-search">
                        <input class="header__input-search-item header--styles-text" type="search"
                            placeholder="Поиск, например Круг зачистной">
                        <button class="header__input-search-button" type="button">
                            <img class="header__input-search-button-logo" src="./assets/img/magnifier.svg" alt="search">
                        </button>
                    </div>
                    <div class="header__map">
                        <img class="header__map-logo" src="./assets/img/map-pin.svg" alt="map pin">
                        <span class="header__map-item">Москва</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>