<footer class="backrgound--full-width-footer">
    <div class="footer container">
        <div class="footer__upper-block">
            <div class="footer__left-block">
                <img class="company-logo" src="./assets/img/company-logo.svg" alt="company-logo">
                <div class="contacts">
                    <div class="contacts__item">
                        <img class="contacts__item-logo" src="./assets/img/call-calling.svg" alt="call calling">
                        <div class="contacts__item--gap">
                            <div class="contacts__item-text">Контактный телефон</div>
                            <div class="contacts__item-number">+ 7 (812) 309-09-34</div>
                            <div class="contacts__item-number">+ 7 (965) 084-29-09</div>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <img class="contacts__item-logo" src="./assets/img/sms.svg" alt="sms">
                        <div class="contacts__item--gap">
                            <div class="contacts__item-text">Электронная почта</div>
                            <div class="contacts__item-number">tustin78&#64;mail.ru</div>
                            <div class="contacts__item-number">info&#64;tustin.ru</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__rigth-block">
                <div class="feedback">
                    <div class="feedback__item">
                        <h1 class="feedback__item-title">Остались вопросы?</h1>
                        <span class="feedback__item-description">Узнавайте первым о скидках, предложениях и событиях
                            еженедельно в своем почтовом ящике. Отпишитесь
                            в любое время одним щелчком мыши.</span>
                    </div>
                    <div class="feedback-search">
                        <button class="feedback-button">
                            <img class="contacts__item-logo" src="./assets/img/sms.svg" alt="sms">
                            <input class="feedback-search-item" type="search" placeholder="Введите свою почту">
                            <button class="feedback-button-send">
                                <span class="feedback-button-send-text">Отправить</span>
                            </button>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__lower-block">
            <nav class="navigation">
                <div class="footer--text">Главная</div>
                <div class="footer--text">О компании</div>
                <div class="footer--text">Каталог</div>
            </nav>
            <div class="footer__lower-block-nav">
                <div class="social-media">
                    <a href=""><img src="./assets/img/facebook.svg" alt="facebook"></a>
                    <a href=""><img src="./assets/img/whatsapp.svg" alt="whatsapp"></a>
                    <a href=""><img src="./assets/img/youtube.svg" alt="youtube"></a>
                </div>
                <div class="footer--text" style="color: #FFFFFF99;">© 2021-2022, EDE</div>
            </div>
        </div>
    </div>
</footer>