<div class="create">
    <h1>Create user form</h1>
    <div class="create-user">
        <form [formGroup]="form">
            <mat-form-field class="create-user-form">
                <mat-label>Введите имя пользователя</mat-label>
                <input matInput formControlName="name" placeholder="name">
                <mat-error>Некорректное название</mat-error>
            </mat-form-field>
            <mat-form-field class="create-user-form">
                <mat-label>Введите email</mat-label>
                <input matInput formControlName="email" placeholder="email">
                <mat-error>Некорректное название</mat-error>
            </mat-form-field>
            <mat-form-field class="create-user-form">
                <mat-label>Введите website</mat-label>
                <input matInput formControlName="website" placeholder="website">
                <mat-error>Некорректное название</mat-error>
            </mat-form-field>
            <mat-form-field class="create-user-form">
                <mat-label>Введите company</mat-label>
                <input matInput formControlName="companyName" placeholder="company name">
                <mat-error>Некорректное название</mat-error>
            </mat-form-field>
            <button class="create-user-form" matIconSuffix mat-raised-button type="submit" [disabled]="form.invalid"
                [mat-dialog-close]="userWithUpdateFields">
                Edit user
                <mat-icon>add</mat-icon>
            </button>
        </form>
    </div>
</div>