.create-user {
    margin: 30px 30px 30px 0px;
}

.create-user-form__input {
    width: 150px;
}

.create-user-button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.alert {
    color: red;
}