<h1>Create todo form</h1>
<div class="create-todo">
    <form [formGroup]="form" (ngSubmit)="SubmitForm()">
        <mat-form-field class="create-todo-form">
            <mat-label>Название задачи</mat-label>
            <input matInput formControlName="title">
            <mat-error>Некорректное название задачи</mat-error>
        </mat-form-field>
        <mat-form-field class="create-todo-form">
            <mat-label>Автор задачи</mat-label>
            <input matInput formControlName="userId">
            <mat-error>Некорректное значение задачи</mat-error>
        </mat-form-field>
        <mat-form-field class="create-todo-form">
            <mat-label>Задача завершена?</mat-label>
            <input matInput formControlName="completed" placeholder="Да/Нет">
            <mat-error>Некорректное значение задачи</mat-error>
        </mat-form-field>
        <button class="create-todo-form" matIconSuffix mat-raised-button type="submit"
            [disabled]="form.invalid">Add Todo
            <mat-icon>add</mat-icon>
        </button>
    </form>
</div>