.card {
    width: 200px;
    height: 300px;
    font-size: 16px;
    border: 1px solid #F0BA4E;
    box-shadow: 0px 20px 50px 0px #12112714;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.card__item-button {
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    height: 40px;
}